
.character_scenario_settings_build {
    display: flex;
    flex-direction: row;
}

.character_scenario_settings_build div{
    padding: 20px;
    font-size: 21px;
    border-style: solid;
    margin-left: 30px;
    margin-right: 30px;
    background: #ffe7d4;
}

.ecs_cont {
    display: flex;
    flex-direction: row;
}

.echo_cost_setup{
    padding: 20px;
    font-size: 21px;
    border-style: solid;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    background: #ffe7d4;
}

.build_head{
    padding: 10px;
}

.build_head h2{
    text-align: left;
}

.build_grid{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

.bg_echo_costs div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 21px;
}

.bg_echo_costs div select{
    width: 200px;
    padding: 20px;
    margin: 10px;
}

.bg_build_stats div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 21px;
}

.bg_build_stats div input{
    margin-top: 5px;
    margin-bottom: 5px;
}

.bg_build_stats div label{
    display: inline-block;
    padding: 10px;
}

.build_sub {
    display: flex;
    margin-top: 10px;
}

.build_sub input{
    border-width: thick;
    font-weight: bold;
    font-size: 24px;
    background: #ffe7d4;
    transition: background-color 0.15s;
}

.build_sub input:hover{
    background-color: #00ffff;
}

.analysis_build div{
    text-align:center;
}

.analysis_build div h2{
    border-style: solid;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
}
