
.character_scenario_settings_full {
    display: flex;
    flex-direction: row;
}

.character_scenario_settings_full div{
    padding: 20px;
    font-size: 21px;
    border-style: solid;
    margin-left: 30px;
    margin-right: 30px;
    background: #ffe7d4;
}

.echo_no{
    padding: 10px;
}

.echo_no h2{
    display: inline-block;
    text-align: center;
}
.echo_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.sub_full {
    display: flex;
}

.sub_full input{
    border-width: thick;
    font-weight: bold;
    font-size: 24px;
    background: #ffe7d4;
    margin-top: 10px;
    transition: background-color 0.15s;
}

.sub_full input:hover{
    background-color: #00ffff;
}

.echo_grid div div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 550;
}

.echo_out div{
    text-align:center;
}

.echo_out div h2{
    border-style: solid;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
}
