<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EVC 3.1{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/css/general.css">
    <link rel="stylesheet" type="text/css" href="/css/echo.css">
    <link rel="stylesheet" type="text/css" href="/css/build.css">
    <link rel="stylesheet" type="text/css" href="/css/full.css">
    <link rel="stylesheet" type="text/css" href="/css/instruct.css">
    <link rel="stylesheet" type="text/css" href="/css/logs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Questrial&display=swap" rel="stylesheet">
</head>
<body class="canvas1">
    <div class="sidebar">
        <a href="{{url_for('echo')}}"><h2>Echo Score</h2></a>
        <a href="{{url_for('build')}}"><h2>Build Score</h2></a>
        <a href="{{url_for('full')}}"><h2>Full Score</h2></a>
        <a href="{{url_for('instruct')}}"><h2>Instructions</h2></a>
        <a href="{{url_for('logs')}}"><h2>Change Logs</h2></a>
    </div>
    <div class="sidebar_prime">
        <div class="title1"><h1>Echo Value Calculator 3.1</h1></div>
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
